/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/

body {
    font-family: 'Fredoka', sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.pink-color {
    color: #E53170;;
}

.background-cards {
    background-color: black;
}

.white-color {
    color: white;
}

.email-color {
    color: #2C5D65;
}

.padding-bottom{
    padding-bottom: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }



.float-right{
    float: right;
}
/*HEADER*/

header {
    text-align: center;
}

header h1,p {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*MAIN*/


 .single-card {
    width: calc((100% / 3)-20px);
    height: 100px;
 }   
    


img {
    height: 100px;
}

.cards > *{
    float: left;
}

div:nth-child(3n+2) {
    margin-left: 20px;
    margin-right: 20px;
}





